/* MAIN PAGE */
.home-container {
  width: 100%;
  height: 100vh;
  background: #f5f5f5;
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  background: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-sizing: border-box;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

/* NAV BUTTONS */
.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background: #1e73ff;
  border: none;
  padding: 8px 16px;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.nav-btn:hover {
  background: #0b5ada;
}

/* CENTER CONTENT */
.home-content {
  width: 100%;
  text-align: center;
  margin-top: 120px;
}

.home-content h1 {
  font-size: 38px;
  color: #222;
}

.home-content p {
  font-size: 20px;
  color: gray;
  margin-top: 10px;
}

.home-actions {
  margin-top: 30px;
}

.main-btn {
  background: black;
  color: white;
  padding: 12px 22px;
  margin: 0 10px;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.main-btn:hover {
  background: #333;
}
