* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #222;
  color: white;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-buttons .btn {
  text-decoration: none;
  color: white;
  border: 1.5px solid white;
  padding: 6px 14px;
  margin-left: 10px;
  border-radius: 4px;
  transition: 0.2s;
  font-size: 0.95rem;
}

.nav-buttons .btn:hover {
  background-color: white;
  color: black;
}

/* Signup Section */
.signup-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.form-container {
  background: white;
  padding: 35px 45px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

form label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}
.subtitle {
  font-size: 0.95rem;
  color: #0c0b0b;
  margin-bottom: 25px;
  text-align: center;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.95rem;
}

form input:focus {
  border-color: #555;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #444;
}

.login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9rem;
}

.login-link a {
  color: #222;
  text-decoration: none;
  font-weight: 600;
}

.login-link a:hover {
  text-decoration: underline;
}
